footer {
    .nav-item-btn {
        a {
            position: relative;
            overflow: hidden;
            display: inline-block;
            color: transparent;
        }

        a::before {
            content: 'Send Message';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            transition: all 0.3s;
        }

        a::after {
            content: 'Send Message';
            position: absolute;
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2d3545;
            color: #fff;
            z-index: -1;
            transition: all 0.2s;
        }

        a:hover {
            background-color: #2d3545;
            color: #2d3545;
        }

        a:hover::before {
            right: -100%;
        }

        a:hover::after {
            left: 0;
            z-index: 1;
        }
    }

    .footer-report {
        background-image: url(../img/texture.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ;

        @media (max-width:768px) {
            background-image: none;
            background-color: rgba(255, 235, 205, 0.333);
        }

    }

    .stroke-text {
        font-size: 44px;
        font-weight: bold;
        color: #27D2A3;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #27D2A3;
        padding-block: 120px;

        @media (max-width:768px) {
            padding-block: 0px;
        }
    }

    img{
        animation: rotate 20s linear infinite normal;
        width: 200px !important;
    }

    @keyframes rotate {
        100%{
            transform: rotate(360deg);
        }
    }

    .links-section{

        ul li{
            padding-block: 15px;
        }

        a:hover{
            color: rgb(163, 163, 163);
        }


        .newsletter-box{

            input{
                border-bottom: 1px solid #393D45;
                padding-block: 10px;
            }

            .border-animate{
                height: 1px;
                background-color: white;
                width: 0%;
                transform-origin: left;
                transition: all 0.4s;
            }

            input:focus{
                border: none;
            }

            input:focus + .border-animate{
                width: 100%;
            }

            input:focus::-webkit-input-placeholder {
                opacity: 0;
            }

            .footer-icons li{
                display: inline-block;
                width: 45px;
                padding: 10px;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1.5px solid white;
                border-radius: 50%;
                transition: all 0.5s;
                cursor: pointer;
            }

            .footer-icons li:hover{
                background-color: white;
                color: gray;
            }

        }
    }
}