.navbar-main {
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;

    .nav-item-mid {
        a {
            padding-block: 5px;
            position: relative;
        }

        a::before {
            content: '';
            position: absolute;
            width: 0%;
            height: .1px;
            left: 0;
            bottom: 0;
            background-color: black;
            transition: all 0.4s;
        }

        a:hover::before {
            width: 100%;
            height: 1px;
        }

        .active::before {
            width: 100%;
            height: 2px;
        }

    }

    .nav-item-btn {
        a {
            position: relative;
            overflow: hidden;
            display: inline-block;
            color: transparent;
        }

        a::before {
            content: 'Request A Quote';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: all 0.3s;
        }

        a::after {
            content: 'Request A Quote';
            position: absolute;
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: purple;
            color: #fff;
            z-index: -1;
            transition: all 0.2s;
        }

        a:hover {
            background-color: purple;
            color: purple;
        }

        a:hover::before {
            right: -100%;
        }

        a:hover::after {
            left: 0;
            z-index: 1;
        }
    }
}